<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Wiki-Map</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/_header.css" />
    <link rel="stylesheet" href="/styles/maps_index.css" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <link rel="stylesheet" href="/styles/map.css" />

    <!-- JS -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script src="/routes/login.js"></script>
    <script src="/routes/logout.js"></script>

    <!-- <script src="../db/queries/map_favourites.js"></script> -->
  </head>
  <body>
    <header>
      <h1 id="website-title"><a href="/maps">Lost&Confused</a></h1>
      <nav>
        <ul class="logged-in">
          <a href="/maps/new">Create a New Map</a>
          <a href="/users/1">Profile</a>
          <a href="/logout">Logout</a>
        </ul>
      </nav>
    </header>
  </body>
</html>
