<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create a Map!</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

</head>

<body>
  <%- include('partials/_header') %>
  <div class="box">
    <form
    id="form"
    action="/maps/new"
    method="POST"
    >
    <h3 class="box-title">Create a Map!</h3>
      <div>

        <div>
          <label for="title">Title:</label>
          <input class="marker-title" type="text" name="title" />
        </div>

        <label for="lat">Latitude:</label>
        <input class="marker-lat" type="text" name="lat" />
      </div>

      <div>
        <label for="long">Longitude:</label>
        <input class="marker-long" type="text" name="long" />
      </div>

      <div>
        <label for="description">Description:</label>
        <input class="marker-description" type="text" name="description" />
      </div>

      <div>
        <label for="image_url">Image URL:</label>
        <input class="marker-image-url" type="text" name="image_url" />
      </div>

      <button type="submit">Create Map</button>
    </form>
  </div>
  </div>
</body>

</html>
