<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <%- include('partials/_header') %>

    <div>
      <h1> ONE LINER ABOUT MAPS!</h1>
    </div>
    <div>
       <% for (let map of maps) { %> 
        <a href="/maps/<%= map.id %>"><article>
          <h1><%= map.title %>
          </h1>
          <p><%= map.username %>
          </p>
        </article></a>
     <% } %>
    </div>
</body>

</html>