body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  height: 70px;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

#website-title {
  font-size: 45px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  color: transparent;
  -webkit-text-stroke: 2px black;
  background-image: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  padding: 10px;
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

.logged-in {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.logged-in a {
  text-decoration: none;
  color: #777;
  font-family: Arial, sans-serif;
  font-size: inherit;
  margin-right: 20px;
}
