// See: https://sass-lang.com/

$base-color: #545149;
$background-color: #f0f4ef;
$primary-color: #344966;
$secondary-color: #000000;

body,
html {
  // margin: 50px;
  color: $base-color;
  background-color: $background-color;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #bfcc94;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  margin: 25px;
}

label {
  display: inline-block;
  width: 30%;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 65%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #bfcc94;
  transition: box-shadow 0.3s;
}

/* Add shadow when input is hovered */
input[type="text"]:hover {
  box-shadow: 0 2px 0 black;
}

.box button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #344966;
  color: #f0f4ef;
  cursor: pointer;
}

.box button:hover {
  background-color: #b4cded;
}
