* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login-heading {
  text-align: center;
  margin-top: 50px;
}

label {
  display: inline-block;
  width: 30%;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 65%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: whitesmoke;
  transition: box-shadow 0.3s;
}

/* Add shadow when input is hovered */
input[type="email"]:hover,
input[type="password"]:hover {
  box-shadow: 0 2px 0 rgba(163, 173, 219, 0.5);
}

#login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: rgba(163, 208, 219, 1);
  color: whitesmoke;
  cursor: pointer;
}

#login-btn:hover {
  background-color: rgba(163, 173, 219, 1);
}
