body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f4ef;
}

#form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #344966;
  font-size: 24px;
  margin-top: 70px;
  text-transform: uppercase;
}

p {
  color: #bfcc94;
  font-size: 16px;
  padding-bottom: 50px;
}

h2 {
  color: #344966;
  font-size: 24px;
  text-transform: lowercase;
}

h1,
p,
h2 {
  text-align: center;
}

// Leaflet map CSS
#map {
  padding-top: 200px;
  height: 400px;
  width: 800px;
  margin: 50px;
}

img {
  height: 75px;
  width: 75px;
}

#map-container i {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 500;
  font-size: 22px;
}

#map-container i:hover {
  color: red;
  cursor: pointer;
}

#map-container i.active {
  color: red;
}

#edit-marker-form {
  display: none;
}
