body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
}

#form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Leaflet map CSS
#map {
  height: 400px;
  width: 800px;
  margin: 50px;
}

img {
  height: 75px;
  width: 75px;
}

#map-container i {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 500;
  font-size: 22px;
}

#map-container i:hover {
  color: red;
  cursor: pointer;
}
