.map-main {
  padding: 50px;
}

.map-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;

}

#single-map-title {
  font-size: 36px;
  color: #344966;
  margin-top: 70px;
  text-transform: uppercase;
}

.created-by {
  padding: 0;
  margin-top: -50px;
}

h4 {
  font-weight: 300;
  padding-top: 10px;
}

// Leaflet map CSS
#map {
  // padding-top: 200px;
  height: 500px;
  width: 80%;
  margin: 50px;
}

img {
  height: 100px;
  width: 100px;
}

#map-container {
  display: flex;
  justify-content: center;
  width: 100%;
  // padding-top: 100px;
}

#map-container i {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 500;
  font-size: 22px;
}

#map-container i:hover {
  color: red;
  cursor: pointer;
}

#map-container i.active {
  color: red;
}

#edit-marker-form {
  display: none;
}
